/* structure and index.html */
body{
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
}

@viewport{
    width:extend-to-zoom 100%;
    zoom:1.0
}
.video-wrapper {
    width:100%;
    max-width: 100%;
}
.video {
position: relative;
height: 0;
padding: 30px 0 56.25%;
overflow: hidden;
}
.video iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.main-visual{
    background: url(/images/img-main-01.jpg) no-repeat 0 70% ;
    background-size: cover;
    min-height: 100px;
    text-align: center;
    padding: 70px 0;
}
.main-visual h1{
    color: #fff;
    font-size: 150%;
}
.main-visual p{
    color: #eee;
}
nav{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #1186b1;
    border-left:none;
    color: #888;
    background-color: #0e4684;
    white-space: nowrap;
    text-align: center;
    font-size: 87.5%;
    min-height: 40px;
}
nav ul li:first-child{
    border-left: 1px solid #0f50a8;
}
nav ul a{
    display: block;
    color: #fff;
    text-decoration: none;
}
nav ul a:visted,
nav ul a:active,
nav ul a:focus{
    color: #fff;
}
main{
    background-color: azure;
    padding: 10px;
}
.news{
    border: 2px solid #0f50A8;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    list-style: none;
}
.news li{
    border-bottom: 1px dotted #ddd;
    margin-bottom: 5px;
    font-size: 75.0%;
}
.hdg-01{
    color: #0b418d;
    border-left: 4px solid #0f50ab;
    margin-bottom: 10px;
    padding-left: 10px;
}
.hdg-02{
    border-bottom: 1px dotted #0f50ab;
    margin-top: 20px;
    font-size: 87.5%;
}
.hdg-01+.hdg-02{
    margin-top: 10px;
}
.link-list{
    text-align: right;
    margin-bottom: 30px;
    list-style: none;
}
img{
    max-width: 100%;
}
.data-box{
    position: relative;
}
.data-box dt{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    font-size: 150%;
    padding: 10px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 10px;
    border: 1px solid #ddd;
}
.data-box dd{
    margin-bottom: 5px;
    border-bottom: 1px dotted #ddd;
}
footer{
    margin: 0 0 20px;
    padding: 20px 10px 10px;
    border: 1px solid #ddd;
}
.social{
    list-style: none;
}

@media (min-width: 641px){
    
    body{
        width: 960px;
        margin: 0 auto;
        position: relative;
    }
    .main-visual{
        background-position: 0 30%;
        min-height: 600px;
    }
    .video-wrapper{
        position: absolute;
        top: 170px;
        left: 30px;
        width: 500px;
        border: 2px solid #fff;
    }
    .news{
        position: absolute;
        top: 170px;
        right: 30px;
        width: 350px;
        height: 290px;
        text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
        background-color: rgba(255,255,255,0.7)
    }
    .news li{
        padding-bottom: 5px;
    }
    .hdg-01:nth-of-type(1){
        position: absolute;
        top: 140px;
        left: 30px;
        color: #fff;
        border-left-color: #fff;
    }
    .link-list:nth-of-type(2){
        position: absolute;
        top: 490px;
        right: 430px;
    }
    img{
        width: 450px;
        
    }
    .data-box{
        display: flex;
    }
    .data-box dl{
        margin-left: 10px;
    }
    .data-box dt{
        position: static;
        border-radius: 0;
        margin-bottom: 20px;
    }
}
/* under-structure */
.visual{
    background: url(/images/img-main-01.jpg) no-repeat 0 70% ;
    background-size: cover;
    min-height: 100px;
    text-align: center;
    padding: 100px 0;
}
.visual+.cover-01{
    background: url(/images/img-main-01.jpg) no-repeat 0 70%;
}
.visual .site-title{
    background-color: #eee;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 0;
}
.visual .site-title a{
    font-size: 100%;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
}
.visual h1{
    color: #fff;
    font-size: 150%;
}
.visual p{
    color: #eee;
}
.under-structure{
    top: 34px;
}
.current{
    background-color: #0e6ac1;
}


/**/
.movie-text{
    font-size: 87.5%;
    margin-bottom: 10px;
}























